.overlay {
    background-color: var(--starbucks-green);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 1000;
    transition-property: all;
    transition-duration: .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem;
}
.overlay.active {
    left: 0;
}

