h1,h2,h3,h4,h5,h6,p,body, ul, li{
    margin: 0;
    padding: 0;
    font: inherit;
}
ul,li{
    list-style: none;
}
:root {
    --starbucks-green: #006241;
    --medium-gray: rgba(0,0,0,.58);
}
body {
    background-color: yellow;
}
.overlay{
    background-color: var(--starbucks-green);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 1000;
    transition-property: all;
    transition-duration: 1.5s;


}
.overlay.active{left: 0
    ;}
.logo{
    height: 100px;
    width: 100px;
}
.mobile-nav {
    padding: 1rem;
}
.mobile-nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: .5rem, 1rem;
    display: block;
} 
.btn-ui{
    border: 0;
    padding: 1rem;
}
.btn-ui svg{
    width: 3rem;
    height: 3rem;
    fill: var(--medium-gray);
}
#closeBtn {
    position: absolute;
    top:1rem;
    right:1rem;
    background-color: transparent;
    border: 1px solid white;
}
#closeBtn svg{
    fill: white;
}