h1,h2,h3,h4,h5,h6,p,body, ul, li{
    margin: 0;
    padding: 0;
    font: inherit;
}
ul,li{
    list-style: none;
}
*{
    box-sizing: border-box;
}
:root {
    --starbucks-green: #006241;
    --medium-gray: rgba(0,0,0,.58);
}
body {
    background-color: yellow;
}
.overlay{
    background-color: var(--starbucks-green);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 1000;
    transition-property: all;
    transition-duration: 1.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;



}
.overlay.active{left: 0
    ;}
.logo{
    height: auto;
    width: 100px;
    margin-bottom: 2rem;
    position: relative;
    left: -1rem;
    opacity: 0;
    transition-property: all;
    transition-delay: .25s;
    transition-duration: .5s;


}
.mobile-nav {
    padding: 0;
}
.mobile-nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 1rem, 0;
    display: block;
}
.overlay.active .mobile-nav ul li{
    left:0;
    opacity:1 ;
    
}
.overlay.active .mobile-nav.overlay ul li:nth-child(1){
    transition-delay: .5s;
    

} 
.overlay.active .mobile-nav.overlay ul li:nth-child(2){
    transition-delay: .6s;
    
} 
.overlay.active .mobile-nav.overlay ul li:nth-child(3){
    transition-delay: .7s;
    
} 
.overlay.active .logo{
    left: 0;
    opacity: 1;
    transition-property: all;
    transition-duration: .25;
}
.btn-ui{
    border: 0;
    padding: 1rem;
}
.btn-ui svg{
    width: 3rem;
    height: 3rem;
    fill: var(--medium-gray);
}
#closeBtn {
    position: absolute;
    top:1rem;
    right:1rem;
    background-color: transparent;
    border: 1px solid white;
}
#closeBtn svg{
    fill: white;
}

.coffee-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}
.coffee-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
    font-family: arial;
    color: black;
}